{% case media.media_type %}
  {% when 'image' %}

	{%- assign image = media -%}

	{%- assign is_featured = false -%}
    {% if featured_image == image %}
      {%- assign is_featured = true -%}
    {% endif %}
    {%- assign image_alt = image.alt -%}
    <div class="{% if is_featured %}starting-slide{% else %}secondary-slide{% endif %}" data-index="{{ forloop.index0 }}">
      <div class="product-image-main product-image-main--{{ section_id }}">
        <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
          <div class="photo-zoom-link {% if settings.product_zoom_enable %}photo-zoom-link--enable{% endif %}" data-zoom-size="{{ image | img_url: product_zoom_size }}">
            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            {% if is_featured %}
              <img class="photo-zoom-link__initial lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ image_alt | escape }}">
              <noscript>
                <img class="photo-zoom-link__initial lazyloaded" src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
              </noscript>
            {% else %}
              <img class="lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ image_alt | escape }}">
              <noscript>
                <img class="lazyloaded" src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
              </noscript>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  {% when 'external_video' %}

    {%- assign video_id = media | external_video_url | split: 'embed/' -%}
    {%- assign video_id = video_id[1] | split: '?' | first -%}
	{%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
    {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}

	<div class="{% if is_featured %}starting-slide{% else %}secondary-slide{% endif %}" data-index="{{ forloop.index0 }}">
      <div class="product-image-main product-image-main--{{ section_id }}">
        <div
          data-video-type="youtube"
          class="product__video-wrapper loading"
          data-video-style="{{ settings.product_video_style }}"
          style="padding-bottom: {{ aspect_ratio }}%;">
            <div
              id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
              class="product__video"
              data-image-count="{{product.images | size }}"
              data-video-type="youtube"
              data-video-style="{{ settings.product_video_style }}"
              data-youtube-id="{{ video_id }}"
              data-video-width="{{ settings.product_video_width }}"
              data-video-height="{{ settings.product_video_height }}">
            </div>
        </div>
      </div>
    </div>

  {% when 'video' %}
    <div class="product-single__media" data-media-id="{{ media.id }}">
      {{ media | video_tag: controls: true }}
    </div>
  {% when 'model' %}
    <div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
      {{ media | model_viewer_tag }}
    </div>
  {% else %}
    <div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
      {{ media | media_tag }}
    </div>
{% endcase %}