{%- style -%}
.order-protection-option{
    padding:0;
    display: flex;
    align-items:center;
    margin-bottom:20px;
}
.order-protection-option label{
    margin:0; 
    font-weight:bold;
}

.tooltip-title,
.tooltip-content{
    letter-spacing: normal !important;
    text-transform:none;
    font-size:14px;
    font-weight:normal;
}

.tooltip-title{
    border-bottom:1px solid #EEE;
    display:block;
    margin-bottom:5px;
    padding-bottom:5px;
    font-weight:600;
}

.tooltip-content{
    font-size:13px;
}

@media screen and (max-width:820px){
    .order-protection-option label{
        letter-spacing: normal;
    }
}
@media screen and (max-width:650px){

}
{%- endstyle -%}

{% if settings.order_protection_product != blank %}
    {% assign item_in_cart = false %}
    {% assign protection_product = all_products[settings.order_protection_product ] %}
    {% assign lineItemId = '' %}
    {% assign has_handbag = false %}

    {% for item in cart.items %}
        {% if item.product.id == protection_product.id %}
            {% assign item_in_cart = true %}
            {% assign lineItemId = item.id %}
        {% endif %}

        {% if item.product.tags contains 'Handbags' %}
            {% assign has_handbag = true %}
        {% endif %}
    {% endfor %}

    {% if has_handbag == true %}
      <div class="bag-special__line-break"></div>
        <div class="order-protection-option">
            <input type="checkbox" id="order-protection-check" {% if item_in_cart == true %}checked{% endif %}>
            <label>Protect from loss, damage, or theft.
                <span class="tooltip-break"></span>
                <tooltip-component>
                    <span class="tooltip-title">{{ settings.order_protection_title }}</span>
                    <p class="tooltip-content">{{ settings.order_protection_content }}</p>
                </tooltip-component>
                {{ protection_product.selected_or_first_available_variant.price | money }}
            </label>
        </div>

        {% if item_in_cart == false %}
        <script>
            var orderProtectionAdded = localStorage.getItem('orderProtectionAdded');

            var protectionProductAuto = {
                items: [
                    {
                        quantity: 1,
                        id: {{ protection_product.selected_or_first_available_variant.id }}
                    }
                ]
            };
        </script>
        {% endif %}

        <script>
            var protectioProductD = {
                items: [
                    {
                        quantity: 1,
                        id: {{ protection_product.selected_or_first_available_variant.id }}
                    }
                ]
            };

            $('#order-protection-check').on('click', function(e){
                if ( $(this).is(':checked')) {
                    $.post(window.Shopify.routes.root + 'cart/add.js', protectioProductD, function(response){
                        location.reload();
                    }, 'json');
                } else {
                    {% if lineItemId != blank %}
                        var deleteData = {
                            updates: {
                                {{lineItemId}}: 0
                            }
                        }

                        $.post(window.Shopify.routes.root + 'cart/update.js', deleteData, function(response){
                            location.reload();
                        }, 'json');
                    {% endif %}
                }
            });
        </script>
    {% endif %}
{% endif %}

<script>
    const template = document.createElement('template');
    template.innerHTML = `
    <style type="text/css">
        .tooltip {
            position: relative;
            display: inline-block;
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 280px;
            background-color: white;
            color: #000;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -150px;
            -webkit-box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.38); 
            box-shadow: 0px 5px 12px -6px rgba(0,0,0,0.38);
            padding:10px;
        }
        
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

        .tooltip svg{
            position:absolute;
            margin-top:3px;
        }

        img{
            max-width:100%;
        }

        .tooltip-trigger-img{
            width:16px;
        }

        @media screen and (max-width:650px){
            .tooltip .tooltiptext{
                margin-left: -24px;
                width:230px;
            }

            .tooltip .tooltiptext::after{
                left: 8%;
            }
        }
    </style>

    <div class="tooltip" onclick="event.preventDefault();">
        <img class="tooltip-trigger-img" src="{{'info-icon.png' | asset_url}}" />
        <span class="tooltiptext">
        <slot></slot>
        </span>
    </div>
    `;

    window.customElements.define('tooltip-component', 
    class Tooltip extends HTMLElement{
        constructor(){
            super();

            this.attachShadow({ mode: 'open'});
            this.shadowRoot.appendChild(template.content.cloneNode(true));
        }
    }
    );
</script>
