
<link rel="stylesheet" href="{{ 'contact-press.css' | asset_url }}">
<style>
  .section-{{ section.id }}-padding{
    padding-top: {{ section.settings.padding_top | times : 0.75 | round }}px;
    padding-bottom: {{ section.settings.padding_bottom | times : 0.75 | round }}px;
  }

  @media screen and (min-width: 750px){
    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
</style>
<section class="section-{{ section.id }}-padding contact-press-wrap">
  <div class="page-width">
    {% if section.settings.heading != blank and section.settings.info != blank %}
    <div class="section-header-press">
        <div class="content-wrapper">
            {% if section.settings.heading != blank %}                
            <h2>{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.info != blank %}                
            <div class="richtext">
              {{ section.settings.info }}
            </div>
            {% endif %}
          </div>
    </div>
          {% endif %}
    <div class="flex-grid flex-grid--gutters press-lists">
        {% for block in section.blocks %}
            <div class="flex-grid__item flex-grid__item--50 press-list-item">
                <div class="press-content">
                  <div class="content-wrapper">
                    {% if block.settings.heading != blank %}                
                    <h2>{{ block.settings.heading }}</h2>
                    {% endif %}
                    {% if block.settings.info != blank %}                
                    <div class="richtext">
                      {{ block.settings.info }}
                    </div>
                    {% endif %}
                  </div>
                  {% if block.settings.email != blank %}
                  <div class="richtext email">
                    <div class="feature-tiem">
                    <div class="feature-image">
                        <img
                        src="{{ 'email.svg' | asset_url }}"
                        alt="Email Address"
                        height=""
                        width=""
                        loading="lazy"
                        >
                    </div>
                    <div class="feature-content">                    
                        <p>{{ block.settings.email }}</p>                    
                    </div>
                </div>
                  </div>
                {% endif %}
                </div>
                <div class="press-image">
                    {% if block.settings.image != blank %}
                      <img
                        src="{{ block.settings.image | image_url }}"
                        alt="{{ block.settings.image.alt }}"
                        height=""
                        width=""
                        loading="lazy"
                      >
                    {% else %}
                      {{ 'image' | placeholder_svg_tag }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
    "name" : "Contact Press",
  "settings": [
    {
      "type" : "text",
      "id" : "heading",
      "label": "Heading",
      "default" : "Our Story"
    },
    {
      "type" : "richtext",
      "id" : "info",
      "label": "Description"
    },
    {
      "type" : "header",
      "content" : "Section Padding"
    },
    {
      "type" : "range",
      "id" : "padding_top",
      "label" : "Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 50,
      "unit": "px"
    },
    {
      "type" : "range",
      "id" : "padding_bottom",
      "label" : "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 50,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "Feature",
      "type" : "feature",
      "settings" : [
         {
            "type" : "image_picker",
            "id" : "image",
            "label": "Image"
          },
          {
            "type" : "text",
            "id" : "heading",
            "label": "Title"
          },
          {
            "type" : "richtext",
            "id" : "info",
            "label": "Sub Text"
          },
          {
            "type" : "text",
            "id" : "email",
            "label": "Email Address"
          }
      ]
    }
  ],
  "presets": [
    {
      "name" : "Contact Press"
    }
  ]
}
{% endschema %}

