<style>
.logo-bar--{{ section.id }} {
  opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};
}
</style>

{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header section-header--logo-bar">
      <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    {% if section.settings.enable_slider %}
    <div class="logo-bar logo-bar--{{ section.id }} logo-bar--slider" data-slides-mobile="{{ section.settings.slides_mobile }}" data-slides-desktop="{{ section.settings.slides_desktop }}">
    {% else %}
    <div class="logo-bar logo-bar--{{ section.id }}">
    {% endif %}
      {% for block in section.blocks %}
        <div class="logo-bar__item" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a target="_blank" href="{{ block.settings.link }}" class="logo-bar__link">
          {% endif %}
          {% if block.settings.image != blank %}
            {% if section.settings.enable_slider %}
              <img class="logo-bar__image"
                  src="{{ block.settings.image | img_url: "400x" }}"
                  alt="{{ block.settings.image.alt }}">
            {% else %}
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="logo-bar__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ block.settings.image.alt }}">
            {% endif %}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% if section.settings.divider %}</div>{% endif %}


{% schema %}
  {
    "name": "Logo list",
    "class": "index-section",
    "max_blocks": 10,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "logo_opacity",
        "label": "Logo opacity",
        "default": 76,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      },
      {
        "type": "header",
        "content": "Slider"
      },
	  {
        "type": "checkbox",
        "id": "enable_slider",
        "label": "Enable slider"
      },
      {
        "type": "range",
        "id": "slides_mobile",
        "label": "Nubmer of slides on mobile",
        "default": 2,
        "min": 1,
        "max": 10,
        "step": 1
      },
      {
        "type": "range",
        "id": "slides_desktop",
        "label": "Nubmer of slides on desktop",
        "default": 6,
        "min": 1,
        "max": 10,
        "step": 1
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
