<style type="text/css">
  #shopify-section-footer-promotions,.announcement-bar,.header-sticky-wrapper
  {
    display:none;
  }
  .stamped-badge-starrating
  {
    margin: 0 8px 0 0!important;
  }
  .thumbs11 img
  {
    cursor:pointer;
  }
  #products .disabled
  {
    line-height: 1.42;
  text-decoration: none;
  text-align: center;
  white-space: normal;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
  padding: 9px 17px;
 
  width: auto;
  min-width: 165px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  color: white;
  background: #60925b;
  }
   .isabel
  {
    margin-top:52px;
  }
   .jenna
  {
    margin-top:82px;
  }
 .jenna1
  {
    margin-top:0px;
  }
  .page-widthpromo {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 17px;
}
  .page-widthpromo1 {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 17px;
}
  .tc
  {
    text-align:center;
  }
  .tf
  {
    text-align:center;
  }
  .mainbanner
  {
    padding-top:40px;
    padding-bottom:40px;
  }
  
  .productbanner
  {
    padding-top:20px;
    padding-bottom:40px;
  }
  
  .faqbanner
  {
    padding-top:40px;
    padding-bottom:40px;
  }
  .custombanner
  {
    padding-top:40px;
    padding-bottom:40px;
  }
  .mainbanner h1
  {
    font-family: 'Chivo';
    font-size: 36px;
    font-weight: bold;
    color: #60925b;
    
  }
  .mainbanner h2
  {
   
    font-size: 36px;
    font-weight: bold;
    color: #000;
     font-family:'Futura';
    
  }
  
  .custombanner h2
  {
   
    font-size: 36px;
    
    color: #000;
     font-family:'Futura';
    
  }
  
  .mainbanner p
  {
    font-family:'Futura';
    font-size:18px;
    color:#000;
    line-height:30px;
  }
  
   .productbanner p
  {
    font-family:'Chivo';
    font-size:18px;
    color:#000;
    line-height:30px;
  
    margin-bottom:0px;
  }
  
  .custombanner p
  {
    font-family:'Futura';
    font-size:22px;
    color:#fff;
    line-height:30px;
  }
  
  .mainbanner1
  {
    padding-top:40px;
    padding-bottom:40px;
    
  }
  .mainbanner1 h1
  {
    font-family: 'Chivo';
    font-size: 36px;
    font-weight: bold;
    color: #60925b;
    
  }
  
  
  .mainbanner1 p
  {
    font-family:'Futura';
    font-size:26px;
    color:#000;
    line-height:30px;
  }
  .mainbanner1 ul
  {
    font-size: 18px;
    font-family: 'Futura';
    line-height: 30px;
    margin-top: 30px;
    list-style: none;
    list-style-image: url(https://cdn.shopify.com/s/files/1/2434/0721/files/check.png?v=1632378728);
  }
  .mainbanner1 ul li
  {
    margin-bottom:20px;
    padding-left:10px;
  }
  
  
   .mainbanner2
  {
    padding-top:40px;
    padding-bottom:40px;
    
  }
  .mainbanner2 h1
  {
    font-family: 'Chivo';
    font-size: 36px;
    font-weight: bold;
    color: #60925b;
    
  }
  
  
  .mainbanner2 p
  {
    font-family:'Futura';
    font-size:26px;
    color:#000;
    line-height:30px;
  }
  .mainbanner2 ul
  {
    font-size: 18px;
    font-family: 'Futura';
    line-height: 30px;
    margin-top: 30px;
    list-style: none;
    list-style-image: url(https://cdn.shopify.com/s/files/1/2434/0721/files/check.png?v=1632378728);
  }
  .mainbanner2 ul li
  {
    margin-bottom:20px;
    padding-left:10px;
  }
  
  
  
  .testibanner
  {
    padding-top:40px;
    padding-bottom:40px;
  }
  .testibanner h1
  {
    font-family: 'Chivo';
    font-size: 36px;
    font-weight: bold;
    color: #60925b;
    
  }
  .testibanner h2
  {
   
    font-size: 36px;
    font-weight: bold;
    color: #000;
     font-family:'Futura';
    
  }
  .faqbanner h2
  {
   
    font-size: 32px;
    font-weight: bold;
    color: #000;
     font-family:'Futura';
    
  }
  .testibanner p
  {
    font-family:'Futura';
    font-size:18px;
    color:#fff;
    line-height:30px;
  }
  
  .visible-xs
   {
        display:none;
      }
      .hidden-xs
      {
        display:block;
      }
  .testiblock
  {
    background-color: #0a0c21;
    border-radius: 15px;
    padding: 20px 40px 1px 40px;
    margin-top:20px;
  }
  .testiblock1
  {
    background-color: #60925b;
    border-radius: 15px;
    padding: 20px 40px 1px 40px;
    margin-top:20px;
  }
  
  .testiblock2
  {
    background-color: #60925b;
    
    padding: 40px 60px 65px 60px;
    margin-top:20px;
  }
  .testiblock3
  {
    background-color: #a3bb9b;
    
    padding: 40px 60px 35px 60px;
    margin-top:20px;
  }
  .trendp
  {
    font-size: 20px !important;
    margin-bottom: 0px;
  }
  
  
  .accordion {
  background-color: #60925b;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    width: 100%;
border:none !important;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    position: relative;
    font-family: 'Futura' !important;
  margin-top: 0px;
    border-radius:10px;
}
.faq{
  padding: 20px 0px 0px 5px;
  font-size:18px;

color:#000;}
.acc-title {
 
    margin-left: 0px;
    display: block !important;
   font-family: 'Futura';
    width: 92%;
    font-size: 18px;
  
}
.panel.active {

    min-height: 105px;
    padding: 10px 20px;
}
.new-title:after {
    padding: 22px 17px !important;
}

.accordion .new-title:after{
padding:15px 17px !important;}

.accordion:after {
    content: '\f107';
    font-weight: 300;
    float: right;
    margin-left: 0px;
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 33px;
    position: absolute;
    right: 27px;
    top: 5px;
    padding: 0px 4px 0px 6px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    
}


.active:after {
     content: '\f106';
    font-family: FontAwesome;
    font-size: 42px;
      font-size: 30px;
    position: absolute;
    text-align: center;
    top: 5px;
 
}


.ques{
font-size:24px;
color:#fff;
padding-right:15px;}
.ans{
font-size:24px;
color:#325cae;
padding-right:15px;}




.panel {
  padding: 0px 18px;
    background-color: #fff;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 18px;
    margin-bottom: 18px;
      border: none;
   border-radius:10px;
    -webkit-box-shadow: none;
  box-shadow: none;
  box-shadow: rgba(1, 1, 1, 0.16) 1px 1px 3px;
    
}

  .starreviewtext
  {
    font-size:16px !important;
    font-weight:normal !important;
  }
  
  @media only screen and (max-width: 767px)
    {
 .faqinsta .grid__item
  {
    padding-left:0px;
  }
    }
  @media only screen and (min-width: 768px)
    {
.page-widthpromo {
    padding: 0 20px;
}
      .page-widthpromo1 {
    padding: 0 20px;
}
      .tc
  {
    text-align:left;
  }
      .mainbanner h1
  {
    font-size:70px;
  }
      
       .testibanner h1
  {
    font-size:70px;
  }
      .mainbanner1 p
  {
   font-size:32px; 
  }
      
      .mainbanner1
  {
    padding-top:80px;
    padding-bottom:80px;
  }
      .visible-xs
      {
        display:block;
      }
      .hidden-xs
      {
        display:none;
      }
      .mainbanner h2
  {
   
    font-size: 50px;
    
  }
      .faqbanner h2
  {
   
    font-size: 32px;
    
  }
       .custombanner h2
  {
   
    font-size: 50px;
    
  }
        .mainbanner2
  {
    padding-top:80px;
    padding-bottom:80px;
  }
      .mainbanner2 ul
  {
    margin-top:58px;
  }
       .isabel
  {
    margin-top:52px;
  }
      #products .disabled
  {
    padding: 11px 20px;
      font-size: 16px;
min-width: 190px;
  }
      
    }

</style>


  <div class="page-widthpromo">
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-third tc"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/logo.png" style="width: 270px; margin-top: 20px; margin-bottom: 5px;" /></div>
   
    </div>
</div>
<div style="background: url('https://cdn.shopify.com/s/files/1/2434/0721/files/bannerbg.jpg?v=1632374583'); background-size: cover;" class="mainbanner">
<div class="page-widthpromo">
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-half">
<h1>AFFORDABLE <br /><span style="color: #000;">LUXURY</span></h1>
<p>MERSI was born to fill the need for trend-forward, high quality, and 100% cruelty free fashion. We are dedicated to re-writing the rules of fashion and creating a kinder, more loving world. Our handbags are made to last. When designing, we pride ourselves in using premium materials at every step, to bring you luxury without the designer price tag.<br /> Now, for a limited time, you can own 2 of our best selling handbags of your choice for just $99.</p>
<p><a href="#products"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/discover.png?v=1632376709" style="margin-top: 10px;" /></a></p>
</div>
<div class="grid__item medium-up--one-half tf"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/DSC_2083-2.jpg?v=1632812166" style="margin-top: 20px; border-radius: 20px;" /></div>
</div>
</div>
</div>
<div class="mainbanner">
<div class="page-widthpromo">
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-third tf">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/freeshipping.png?v=1632818183" /></p>
</div>
<div class="grid__item medium-up--one-third tf">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/30dayreturn.png?v=1632817762" /></p>
</div>
<div class="grid__item medium-up--one-third tf">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/warrantyr.png?v=1632889004" /></p>
</div>
</div>
</div>
</div>
<div class="mainbanner1" style="background-color: #fafafa;">
<div class="page-widthpromo">
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-half">
<p><b>About The Brand</b></p>
<ul>
<li>Hand crafted, luxury accessories</li>
<li>Made with premium quality vegan leather and durable hardwares</li>
<li>Bold, trendy pieces to match your unique style</li>
<li>Female founded and operated</li>
<li>10% of proceeds donated to animal sanctuaries</li>
</ul>
</div>
<div class="grid__item medium-up--one-half tf">
<p><a href="#products"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/shop1_b883221e-9a4e-4198-add7-b01864a5915d.png?v=1632892605" /></a></p>
</div>
</div>
<div class="grid grid--uniform" style="padding-top: 50px;">
<div class="grid__item medium-up--one-half tf">
<p class="visible-xs"><a href="#products"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/shop2_b0f53723-3c61-4ee1-a3d4-4cb033cb9bcc.png?v=1632892605" /></a></p>
</div>
<div class="grid__item medium-up--one-half">
<p class="visible-xs" style="padding-top: 110px;"><b>Why Vegan Leather?</b></p>
<p class="hidden-xs"><b>Why Vegan Leather?</b></p>
<ul>
<li>More environmentally friendly</li>
<li>Sustainable fashion</li>
<li>100% cruelty free</li>
<li>Affordable and trendy</li>
<li>Style without compromise</li>
</ul>
<p class="hidden-xs"><a href="#products"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/shop2_b0f53723-3c61-4ee1-a3d4-4cb033cb9bcc.png?v=1632892605" /></a></p>
</div>
</div>
</div>
</div>
<div style="background-color: #f6f4f7;" class="mainbanner">
<div class="page-widthpromo">
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-half tf">
<h1 style="margin-top: 35px;" class="visible-xs"><span style="color: #000;">BUY 2</span><br />BAGS FOR $99</h1>
<hr style="border-top: 4px solid #000; margin-top: 0px; margin-bottom: 0px; width: 75%;" />
<h1 class="hidden-xs"><span style="color: #000;">BUY 2</span><br />BAGS FOR $99</h1>
<hr style="border-top: 4px solid #000; margin-top: 0px; margin-bottom: 0px; width: 75%;" /></div>
<div class="grid__item medium-up--one-half tf"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/bagss1.png?v=1632817271" style="margin-top: 20px;" /></div>
</div>
</div>
</div>
<div style="background-color: #f4fbf3;" class="custombanner">
<div class="page-widthpromo">
<div class="grid grid--uniform">
<h2 class="tf">CUSTOMIZE YOUR SET</h2>
</div>
<div class="grid grid--uniform" style="margin-top: 20px;">
<div class="grid__item medium-up--one-whole tf"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/cceee.gif?v=1632827825" /></div>
</div>
</div>
</div>

     
        {{ page.content }}

<div class="productbanner" id="products">
<div class="page-widthpromo">
  
  
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-third small--six-twelfths tf product-section" style="margin-top: 20px;"><a href="https://www.theveganwarehouse.com/collections/2-for-99/products/ruby-cross-body">

  <p> <img id="largeImage" src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/rubby1_large.png" /></p>
<p>Ruby Crossbody<br>MERSI<br>from $59.00</p></a>
<p class="starreviewtext"><span class="stamped-product-reviews-badge" data-id="2073018957883" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display:block;">
</span></p>

   <p id="thumbs" style="margin-top: 10px;" class="tf thumbs11">
        <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/rubby1_thumb.png" alt="1st image description" style="margin-right:5px;" data-variant_id="20187862237243"/>
       <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/rubby2_thumb.png" alt="1st image description" style="margin-right:5px;" data-variant_id="20187862270011"/>
     <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/rubby3_thumb.png" alt="1st image description" style="margin-right:5px;" data-variant_id="40741982208157"/>
     <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/rubby4_thumb.png" alt="1st image description" data-variant_id="40741983748253"/>
  </p>
  
  <p style="color: #60925b;"><b>Buy 2 for $99</b></p>
  <form method="post" action="/cart/add" style="text-align: center;">
  <input type="hidden" name="id" value="20187862237243" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1" />
<!--   <input type="submit" value="Add to cart" class="btn" /> -->
    <button class="btn" type="submit">Add to cart</button>
</form>
  
</div>
<div class="grid__item medium-up--one-third small--six-twelfths tf" style="margin-top: 20px;"><a href="https://www.theveganwarehouse.com/collections/2-for-99/products/demi-bucket-bag">

 <p> <img id="largeImage1" src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/demi1_large.png" /></p>
<p>Demi Bucket<br>MERSI<br>$59.00</p></a>
<p class="starreviewtext"><span class="stamped-product-reviews-badge" data-id="1331890290792" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display:block;">
{{product.metafields.stamped.badge}}
</span></p>
 
  
  <p id="thumbs1" style="margin-top: 10px;" class="tf thumbs11">
        <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/demi1_thumb.png" alt="1st image description" style="margin-right:5px;" data-variant_id="12254507532392"/>
        <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/demi2_thumb.png" alt="2nd image description" data-variant_id="18392570822715"/>
        
  </p>

  <p style="color: #60925b;"><b>Buy 2 for $99</b></p>
  <form method="post" action="/cart/add" style="text-align: center;">
  <input type="hidden" name="id" value="12254507532392" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
<!--   <input type="submit" value="Add to cart" class="btn"/> -->
    <button class="btn" type="submit">Add to cart</button>
</form>
</div>
<div class="grid__item medium-up--one-third small--six-twelfths tf" style="margin-top: 20px;"><a href="https://www.theveganwarehouse.com/collections/2-for-99/products/isabel-bucket-bag">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/bags3.png?v=1632478670"></p>
<p>Isabel Bucket<br>MERSI<br><span style="text-decoration: line-through;">$89.00</span> $79.00</p></a>
<p class="starreviewtext"><span class="stamped-product-reviews-badge" data-id="2310288572475" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display:block;">
{{product.metafields.stamped.badge}}
</span></p>
  
  <p style="color: #60925b;"><b>Buy 2 for $99</b></p>
  <form method="post" action="/cart/add" style="text-align: center;">
  <input type="hidden" name="id" value="21285869912123" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
<!--   <input type="submit" value="Add to cart" class="btn isabel"/> -->
    <button class="btn isabel" type="submit">Add to cart</button>
</form>
</div>
<div class="grid__item medium-up--one-third small--six-twelfths tf" style="margin-top: 20px;"><a href="https://www.theveganwarehouse.com/collections/2-for-99/products/alicia-cross-body-grey">

   <p> <img id="largeImage2" src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/alicia1_large.png" /></p>
<p>Alicia Crossbody<br>MERSI<br>from $59.00</p></a>
<p class="starreviewtext"><span class="stamped-product-reviews-badge" data-id="587226087451" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display:block;">
{{product.metafields.stamped.badge}}
</span></p>
  
  <p id="thumbs2" style="margin-top: 10px;" class="tf thumbs11">
        <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/alicia1_thumb.png" alt="1st image description" style="margin-right:5px;" data-variant_id="6090660413467"/>
       <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/alicia2_thumb.png" alt="1st image description" style="margin-right:5px;" data-variant_id="18392351244347"/>
     <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/alicia3_thumb.png" alt="1st image description" style="margin-right:5px;" data-variant_id="40741836619933"/>
     <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/alicia4_thumb.png" alt="1st image description" data-variant_id="40741844123805"/>
        
  </p>
  <p style="color: #60925b;"><b>Buy 2 for $99</b></p>
  
  <form method="post" action="/cart/add" style="text-align: center;">
  <input type="hidden" name="id" value="6090660413467" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
<!--   <input type="submit" value="Add to cart" class="btn"/> -->
    <button class="btn" type="submit">Add to cart</button>
</form>
</div>
<div class="grid__item medium-up--one-third small--six-twelfths tf" style="margin-top: 20px;"><a href="https://www.theveganwarehouse.com/collections/2-for-99/products/chelsea-trio-crossbody">

  <p> <img id="largeImage3" src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/chelsa1_large.png" /></p>
<p>Chelsea Trio Crossbody<br>MERSI<br>$79.00</p></a>
<p class="starreviewtext"><span class="stamped-product-reviews-badge" data-id="6822890307741" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display:block;">
{{product.metafields.stamped.badge}}
</span></p>

   <p id="thumbs3" style="margin-top: 10px;" class="tf thumbs11">
        <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/chelsa1_thumb.png" alt="1st image description" style="margin-right:5px;" data-variant_id="40375237574813"/>
        <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/chelsa2_thumb.png" alt="2nd image description" data-variant_id="40375237542045"/>
        
  </p>

  <p style="color: #60925b;"><b>Buy 2 for $99</b></p>
  <form method="post" action="/cart/add" style="text-align: center;">
  <input type="hidden" name="id" value="40375237574813" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
<!--   <input type="submit" value="Add to cart" class="btn"/> -->
    <button class="btn" type="submit">Add to cart</button>
</form>
</div>
<div class="grid__item medium-up--one-third small--six-twelfths tf" style="margin-top: 20px;"><a href="https://www.theveganwarehouse.com/collections/2-for-99/products/jenna-crossbody">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/bags6.png?v=1632478669"></p>
<p>Jenna Crossbody<br>MERSI<br>$69.00</p></a>
<p class="starreviewtext"><span class="stamped-product-reviews-badge" data-id="6582357196957" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display:block;">
{{product.metafields.stamped.badge}}
</span></p>
  <p style="color: #60925b;"><b>Buy 2 for $99</b></p>
  <form method="post" action="/cart/add" style="text-align: center;">
  <input type="hidden" name="id" value="41154371584157" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
<!--   <input type="submit" value="Add to cart" class="btn isabel jenna"/> -->
    <button class="btn isabel jenna" type="submit">Add to cart</button>
</form>
</div>
<div class="grid__item medium-up--one-third small--six-twelfths tf" style="margin-top: 20px;"><a href="https://www.theveganwarehouse.com/collections/2-for-99/products/clara-cloud-crossbody">

   <p> <img id="largeImage4" src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/claracolor1_large.png" /></p>
<p>Clara Cloud Crossbody<br>MERSI<br>$69.00</p></a>
  <p class="starreviewtext"><span class="stamped-product-reviews-badge" data-id="7003678769309" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display:block;">
{{product.metafields.stamped.badge}}
</span></p>

   <p id="thumbs4" style="margin-top: 10px;" class="tf thumbs11">
        <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/claracolor1_thumb.png" alt="1st image description" style="margin-right:5px;" data-variant_id="40986809303197"/>
        <img src="https://cdn.shopify.com/s/files/1/2434/0721/t/47/assets/claracolor2_thumb.png" alt="2nd image description" data-variant_id="40986809368733"/>
  </p>
  
  <p style="color: #60925b;"><b>Buy 2 for $99</b></p>
  <form method="post" action="/cart/add" style="text-align: center;">
  <input type="hidden" name="id" value="40986809303197" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
<!--   <input type="submit" value="Add to cart" class="btn"/> -->
    <button class="btn" type="submit">Add to cart</button>
</form>
</div>
<div class="grid__item medium-up--one-third small--six-twelfths tf" style="margin-top: 20px;"><a href="https://www.theveganwarehouse.com/collections/2-for-99/products/lea-work-tote">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/leatote.png"></p>
<p>Lea Tote<br>MERSI<br>$79.00</p></a>
<p class="starreviewtext"><span class="stamped-product-reviews-badge" data-id="5740708102301" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display:block;">
{{product.metafields.stamped.badge}}
</span></p>
  <p style="color: #60925b;"><b>Buy 2 for $99</b></p>
  <form method="post" action="/cart/add" style="text-align: center;">
  <input type="hidden" name="id" value="36674154430621" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
<!--   <input type="submit" value="Add to cart" class="btn isabel jenna"/> -->
    <button class="btn isabel jenna" type="submit">Add to cart</button>
</form>
</div>
<div class="grid__item medium-up--one-third small--six-twelfths tf" style="margin-top: 20px;"><a href="https://www.theveganwarehouse.com/collections/2-for-99/products/maddie-cross-body">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/bags7.png?v=1632475438"></p>
<p>Maddie Crossbody<br>MERSI<br>$59.00</p></a>
<p class="starreviewtext"><span class="stamped-product-reviews-badge" data-id="4099464298555" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display:block;">
{{product.metafields.stamped.badge}}
</span></p>
  <p style="color: #60925b;"><b>Buy 2 for $99</b></p>
  <form method="post" action="/cart/add" style="text-align: center;">
  <input type="hidden" name="id" value="30115154264123" />
  <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
<!--   <input type="submit" value="Add to cart" class="btn isabel jenna1"/> -->
    <button class="btn isabel jenna1" type="submit">Add to cart</button>
</form>
</div>
</div>
</div>
</div>

<div class="faqbanner">
<div class="page-widthpromo2">
<h2 class="tf">SEE OUR BAGS STYLED ON INSTAGRAM</h2>
<div class="grid grid--uniform faqinsta">
<div class="grid__item medium-up--one-sixth small--four-twelfths tf" style="margin-top: 20px;"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/Alicia_1.png?v=1632822880%22"></div>
<div class="grid__item medium-up--one-sixth small--four-twelfths tf" style="margin-top: 20px;"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/Jenna.png?v=1632822880"></div>
<div class="grid__item medium-up--one-sixth small--four-twelfths tf" style="margin-top: 20px;"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/Lea_1.png?v=1632822880"></div>
<div class="grid__item medium-up--one-sixth small--four-twelfths tf" style="margin-top: 20px;"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/Maddie.png?v=1632822880"></div>
<div class="grid__item medium-up--one-sixth small--four-twelfths tf" style="margin-top: 20px;"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/Ruby_Black_6bfd8df3-c669-47fe-9279-e0da4996c9c7.png?v=1632822880"></div>
<div class="grid__item medium-up--one-sixth small--four-twelfths tf" style="margin-top: 20px;"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/Ruby_Red.png?v=1632822880"></div>
</div>
</div>
</div>

<div class="testibanner" style="background-color: #f7f7f7;">
<div class="page-widthpromo1">
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-whole">
<h2 class="tf">REVIEWS</h2>
</div>
</div>
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-half tf">
<div class="testiblock">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/comma.png?v=1632387726"></p>
<p><b>Beautiful with a luxurious look and feel</b></p>
<p>This bag is truly beautiful and looks much more expensive and luxe than what the price tag suggests. The hardware is quality and securely attached to the bag. My friend thought it was real leather based on the quality. Would highly recommend!</p>
<p>Jennifer T.</p>
</div>
</div>
<div class="grid__item medium-up--one-half tf">
<div class="testiblock1">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/comma.png?v=1632387726"></p>
<p><b>So unique!</b></p>
<p style="margin-bottom: 45px;">MERSI just keeps getting better... in love with this unique design inspired by my favorite Ruby bag! I love that it comes with the option to wear with just the top handle, or with the additional crossbody strap!</p>
<p>Maria L.</p>
</div>
</div>
</div>
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-half tf">
<div class="testiblock1">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/comma.png?v=1632387726"></p>
<p><b>Perfect size</b></p>
<p>Fits all of my everyday essentials so seamlessly. Love that I can put my phone in the little pocket, keys in the zipper pocket and my wallet &amp; other items right in the middle. No losing anything in this crossbody!</p>
<p>Olive S.</p>
</div>
</div>
<div class="grid__item medium-up--one-half tf">
<div class="testiblock">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/comma.png?v=1632387726"></p>
<p><b>New favorite purse</b></p>
<p>I was beyond happy with my purchase. So many of my friends asked where I got it. The quality of the Alicia Crossbody is excellent. It's a fun bag for a night out, it will make your outfit better! I will definitely be buying more.</p>
<p>Julie P.</p>
</div>
</div>
</div>
</div>
</div>

<div class="mainbanner" style="background-color: #fafafa;">
<div class="page-widthpromo1">
<div class="grid grid--uniform">
<div class="grid__item medium-up--two-thirds">
<p class="visible-xs" style="margin-top: 50px;"><b style="color:#60925b;">We donate 10%</b> of our profits to animal sanctuaries. We support the Catskill Animal Sanctuary in upstate New York through sponsorship of rescued animals, like Zeke here! When you buy our handbags, you help provide them with resources for food and veterinary care. Thank you!</p>
<p class="hidden-xs"><b style="color:#60925b;">We donate 10%</b> of our profits to animal sanctuaries. We support the Catskill Animal Sanctuary in upstate New York through sponsorship of rescued animals, like Zeke here! When you buy our handbags, you help provide them with resources for food and veterinary care. Thank you!</p>
  <p class="visible-xs"><a href="#products"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/shopcollection.png"/></a></p>
  </div>
<div class="grid__item medium-up--one-third tf">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/santuri.png?v=1632894877"></p>
   <p class="hidden-xs tf"><a href="#products"><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/shopcollection.png"/></a></p>
</div>
</div>
</div>
</div>
<div class="testibanner" style="background-color: #0a0c21;">
<div class="page-widthpromo1">
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-third tf" style="margin-top: 10px; margin-bottom: 10px;">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/treding-style.png?v=1632390994"></p>
<p class="trendp"><b>Trending Style</b><br><span style="font-size: 16px;">From Top Brand</span></p>
</div>
<div class="grid__item medium-up--one-third tf" style="margin-top: 10px; margin-bottom: 10px;">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/price.png?v=1632390994"></p>
<p class="trendp"><b>Best Prices</b><br><span style="font-size: 16px;">On Top Produts</span></p>
</div>
<div class="grid__item medium-up--one-third tf" style="margin-top: 10px; margin-bottom: 10px;">
<p><img src="https://cdn.shopify.com/s/files/1/2434/0721/files/easy.png?v=1632390994"></p>
<p class="trendp"><b>Easy Return</b><br><span style="font-size: 16px;">On Every Order</span></p>
</div>
</div>
</div>
</div>



<div style="position: fixed; top:3px ; right:5px ; background: #fff; border:1px solid #ddd;">{% include 'header-icons' %}</div>

<script type="text/javascript">
  function _setVariant(img){
  	var variantId = $(img).data('variant_id');
    if ( variantId) {
    	$(img).parent().parent().find("input[name='id']").val(variantId);
    }
  }
  
  $('#thumbs img').click(function(){
    $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
    _setVariant(this);
   
});
  
</script>

<script type="text/javascript">
  $('#thumbs1 img').click(function(){
    $('#largeImage1').attr('src',$(this).attr('src').replace('thumb','large'));
    _setVariant(this);
});
  
</script>


<script type="text/javascript">
  $('#thumbs2 img').click(function(){
    $('#largeImage2').attr('src',$(this).attr('src').replace('thumb','large'));
    _setVariant(this);
   
});
  
</script>


<script type="text/javascript">
  $('#thumbs3 img').click(function(){
    $('#largeImage3').attr('src',$(this).attr('src').replace('thumb','large'));
    _setVariant(this);
   
});
  
</script>


<script type="text/javascript">
  $('#thumbs4 img').click(function(){
    $('#largeImage4').attr('src',$(this).attr('src').replace('thumb','large'));
    _setVariant(this);
   
});
  
</script>

<script type="text/javascript">
  (function($){ 
    function _ajaxAddToCart(item){
      var params = {
      	type: 'POST',
        url: '/cart/add.js',
        data: item,
        dataType: 'json'
      };
      
      return $.ajax(params)
      .then(function(cart) {
        return cart;
      }.bind(this))
    }
    
    $("form[action='/cart/add']").on('submit', function(e){
      e.preventDefault();
      //e.stopPropagation();
      
      var $btn = $(this).find('.btn');
      var $form = $(this);
      var variantId = parseInt($(this).find("input[name='id']").val());
      var quantity = parseInt($(this).find('#quantity').val());
      var item = {
        items: [
          {
            quantity: quantity,
            id: variantId 
          }
        ]
      };
      
      $btn.addClass('btn--loading');
      
      _ajaxAddToCart(item)
        .then(function(product){
            $form.find('.errors').remove();
            $('body').trigger('added.ajaxProduct');

            theme.cart.getCart().then(function(cart) {
              var _drawer = new theme.CartDrawer();
              _drawer.buildCart(cart, true);
              _drawer.updateCartNotification(null, cart);
              $('.cart-link__bubble').text(cart.item_count);
            });
        })
        .catch(function(XMLHttpRequest) {
            $form.find('.errors').remove();
            if (XMLHttpRequest.responseJSON && XMLHttpRequest.responseJSON.description) {

              this.$form.prepend('<div class="errors text-center">' + XMLHttpRequest.responseJSON.description + '</div>');
            }
         })
        .always(function(){
            $btn.removeClass('btn--loading').html("&check; ADDED");
        });
    });
  })(jQuery);
</script>